@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿⥂ Initial Styles ⥄✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

:root {
  --color-text: rgb(54, 54, 54);
  --color-text-lighter: rgb(154, 154, 154);
  --color-text-body: rgb(217, 210, 231);
  --color-text-dark: rgb(27, 27, 27);
  --color-red: #db2929;
  --color-red-navbar: #68161c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: "IBM Plex Sans", "Playwrite AU SA", sans-serif;
  color: var(--color-text-dark);
  padding: 2rem 4rem;
  background: url("../public/images/bg.jpg") no-repeat center center/cover;
  overflow-y: hidden;
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿⥂ Navbar ⥄✿✿✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 7rem;
  padding: 0 4rem;
  background-color: var(--color-red-navbar);
  border-radius: 1rem;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 240px;
  height: auto;
  max-width: 100%;
  border-radius: 1.5rem;
}

/* Search */

.search {
  justify-self: center;
  border: none;
  padding: 1.3rem 1.8rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  width: 43rem;
  transition: all 0.3s;
  color: var(--color-text);
  background-color: rgb(219, 219, 219);
}

.search::placeholder {
  color: var(--color-text-lighter);
}

.search:focus {
  outline: none;
  box-shadow: 0 7px 17px 3px rgba(255, 255, 255, 0.1);
  transform: translate(-2px, -1px);
}

/* Num results */

.num-results {
  justify-self: end;
  font-size: 2rem;
  color: var(--color-text-body);
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿⥂ Main ⥄✿✿✿✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.main {
  margin-top: 2rem;
  height: calc(100vh - 8.5rem - 3 * 1.5rem);
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.box {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  max-width: 50rem;
  background: linear-gradient(
    135deg,
    #ffffff,
    var(--color-text-body),
    var(--color-text-lighter),
    var(--color-text)
  );
  overflow-y: auto;
}

.btn-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-text);
  color: var(--color-text-lighter);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿⥂ Watched ⥄✿✿✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.list {
  list-style: none;
  overflow-y: auto;
  background: linear-gradient(
    135deg,
    #ffffff,
    var(--color-text-body),
    var(--color-text-lighter),
    var(--color-text)
  );
}

.list:nth-child(1) {
  border-radius: 1rem;
}

.list::-webkit-scrollbar,
.box::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track,
.box::-webkit-scrollbar-track {
  background: var(--color-text-body);
  border-radius: 0.5rem;
}

.list::-webkit-scrollbar-thumb,
.box::-webkit-scrollbar-thumb {
  background-color: var(--color-red-navbar);
  border-radius: 0.5rem;
  border: 2px solid var(--color-text-body);
}

.box:hover::-webkit-scrollbar-thumb,
.list:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 3rem;
  font-size: 1.5rem;
  align-items: center;
  padding: 1.3rem 2rem;
  border-bottom: 1px solid var(--color-text-lighter);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-text-lighter);
  color: var(--color-text);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.btn-delete {
  position: absolute;
  right: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-text-dark);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-navbar);
  color: var(--color-text-lighter);
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿⥂ Summary ⥄✿✿✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.summary {
  padding: 3rem 2rem;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-red);
  box-shadow: 0 7px 17px 3px rgba(255, 255, 255, 0.1);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿⥂ Movie Details ⥄✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.details {
  line-height: 1.6;
  font-size: 1.5rem;
}

.details header {
  display: flex;
  margin-top: 3.5rem;
  padding: 1rem;
}

.details section {
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.details img {
  width: 28%;
  max-width: 100%;
  border-radius: 1rem;
}

.details-overview {
  width: 100%;
  padding: 2rem 4rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.details-overview h2 {
  font-size: 2.5rem;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.details-content {
  font-family: "Playwrite AU SA";
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 1rem;
  padding: 1rem 2rem 0;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-add {
  --offset: 7px;
  --border-size: 2px;
  font-size: 1.4rem;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 1rem 2rem;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--color-red-navbar);
  text-transform: uppercase;
  letter-spacing: 3px;
  outline: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.6s ease-in-out, border-radius 0.4s ease,
    color 0.6s ease-in-out;
}

.btn-add:hover {
  background: var(--color-red-navbar);
  color: var(--color-text-lighter);
  border-radius: 3rem;
}

.btn-add__horizontal,
.btn-add__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.6s ease;
  will-change: transform;
}

.btn-add__horizontal::before,
.btn-add__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}

.btn-add__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.btn-add__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.btn-add:hover .btn-add__horizontal {
  transform: scaleX(0);
}

.btn-add__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.btn-add__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.btn-add:hover .btn-add__vertical {
  transform: scaleY(0);
}

.btn-back {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-text);
  color: var(--color-text-lighter);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.btn-back:hover {
  font-size: 2rem;
  transition: 0.2s ease;
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿⥂ Loader ⥄✿✿✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */
/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿⥂ Error ⥄✿✿✿✿✿✿✿✿✿✿✿✿✿✿ */
/* ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ */

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
  color: var(--color-text-body);
}
